.loginWrap { text-align: center; }
.loginWrap h1 { padding: 10px 0; font-size: 24px; font-weight: bold; }
.loginWrap .inp { margin-top: 15px; }
.loginWrap input { width: 100%; }
.loginWrap button { width: 100%; margin-top: 15px; }
.loginWrap button:hover { color: #fff; border: 1px solid #387dcd; background: #387dcd; }