.loginWrap { text-align: center; }
.loginWrap h1 { padding: 10px 0; font-size: 24px; font-weight: bold; }
.loginWrap .inp { margin-top: 15px; }
.loginWrap input { width: 100%; }
.loginWrap button { width: 100%; margin-top: 15px; color: #fff; border: 1px solid #387dcd; background: #387dcd; }
.loginWrap button:hover { color: #fff; border: 1px solid #2067b8; background: #2067b8; }

.memberSettingslayer { position: absolute; top: 50px; right: 12px; padding: 10px 0; font-size: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); border-radius: 5px; background: #fff; }
.memberSettingslayer a { display: block; padding: 5px 10px; cursor: pointer; transition-duration: .2s; }
.memberSettingslayer a:hover { color: #fff; background: #2067b8; }